<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.six.open">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="A_SixUiViews"
        android:theme="@style/AppTheme">

        <activity android:name="others.circle_reveal.demo2.MyCircleRevealDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="others.credit_card_cool.core.CardEditActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>
